# Dependency directories
node_modules
jspm_packages
npm-debug.log
# Optional npm cache directory
.npm

config/app-config.js

public/js/scripts.min.js

public/css/bootstrap.min.js

public/.DS_Store

views/.DS_Store

npm-debug.log

.DS_Storesendgrid.env
sendgrid.env
.env

#Tools for inserting admin

tools/admin-generator.js
models/user-admin.js

tools/admin-generator.js
tools/move-data.js
models/user_old.js

#Server

bin/start
bin/node
bin/stop
bin/npm
bin/webpack
bing/psql
run/
bin/nodemon