# Dependency directories
node_modules
jspm_packages
npm-debug.log
# Optional npm cache directory
.npm

config/app-config.js

public/js/scripts.min.js

public/css/bootstrap.min.js

public/.DS_Store

views/.DS_Store

.DS_Storesendgrid.env
sendgrid.env
.env


#Server

bin/start
bin/node
bin/stop
bin/npm
run/