<!DOCTYPE html>
<html>
<head>
  <title>Junction 2016 Application</title>
  <link rel="stylesheet" href="/css/bootstrap.css" />
  <link rel="stylesheet" href="/css/user.css" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>

  <body>
    <div class="container boss-container">


      <a href="https://hackjunction.com"><img class="juhis" src="/img/junction_logo.png"/></a>
        {{#if success_msg}}
          <div class="success-text"> {{{success_msg}}} </div>
        {{/if}}

        {{#if error_msg}}
            <div class="alert-text"> {{{error_msg}}}</div>
        {{/if}}

        {{#if error}}
          <div class="alert-text"> {{{error}}}</div>
        {{/if}}
        {{{body}}}
      </div>
  

      <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script> -->
    <!-- <script src="/js/bootstrap.min.js"></script> -->
  <script>

    </script>
  </body>
</html>