<!DOCTYPE html>
<html>
<head>
  <title>Junction 2016 Application</title>
  <!-- <link rel="stylesheet" href="/css/bootstrap.css" /> -->
  <link rel="stylesheet" href="/css/user.css" />

</head>

  <body>
    <div class="container">


    <div class="row">
      <a href="https://hackjunction.com"><img class="juhis" src="/img/junction_logo.png"/></a>
      <div class="col-lg-12">
        {{#if success_msg}}
          <div class="alert alert-success"> {{{success_msg}}} </div>
        {{/if}}

        {{#if error_msg}}
            <div class="alert alert-danger"> {{{error_msg}}}</div>
        {{/if}}

        {{#if error}}
          <div class="alert alert-danger"> {{{error}}}</div>
        {{/if}}
        {{{body}}}
      </div>
    </div>
  </div>


      <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script> -->
    <!-- <script src="/js/bootstrap.min.js"></script> -->
  <script>

    </script>
  </body>
</html>