<div class="table-responsive">          
<table class="table">
  <thead>
    <tr>
      <th>Firstname</th>
      <th>Lastname</th>
      <th>email</th>
    </tr>
  </thead>
  <tbody>
    {{#each hackers}}
    <tr>
        <td>{{{ this.firstname }}}</td>
        <td>{{{ this.lastname }}}</td>
        <td>{{{ this.email }}}</td>
    </tr>
    {{/each}}
  </tbody>
</table>
</div>