

    <a class="btn btn-danger" style="color:white;" href="/confirm/reject/{{hash}}">I'm not attending Junction</a>
    
    <a class="btn btn-success" style="color:white;"  href="/confirm/accept/{{hash}}">No, wait! I want to attend!!</a>
