div {
	position: relative;
}

body {
  background: #000 !important;
  color: #fff !important;
}

td {
  border: none !important;
  padding: 10px 10px !important;
  background: #111 !important;
}
p{
  font-size: 14px !important;
}
tr {
  border-bottom: 2px solid #fff;
}
button {
  background: #000 !important;
  color: #fff !important;
  border: 1px solid #fff !important;
  padding: 10px 20px !important;
}
button:hover {
  text-decoration: underline;
  background:#555 !important;
  border: 4px solid #F1B026;

}
.nav-tabs > li.active > a{
    background:#000 !important;

  color: #F1B026 !important;
  border: 4px solid #F1B026  !important;
  font-weight: 600  !important;
  text-transform: uppercase  !important;
}

.nav-tabs > li.active > a:hover{
  background:#666 !important;
  color: #F1B026;
  border: 4px solid #fff;
  font-weight: 600;
  text-transform: uppercase;
}


.nav-tabs > li > a:hover{
    background:#666 !important;

  color: #F1B026;
  border: 4px solid #000;
  font-weight: 600;
  text-transform: uppercase;
}


.nav-tabs > li > a{
    background:#000 !important;

  color: #F1B026;
  border: 4px solid #000;
  font-weight: 600;
  text-transform: uppercase;
}


.navbar-header > div {
  margin-left: 43px;
}

.navbar-header img {
  width: 170px;
  margin-bottom: 43px;
  margin-top: 43px;
}

.navbar-header h3 {
  margin-left: 60px;
  display: inline;
  vertical-align: middle;
}

.search-panel {
  padding-bottom: 50px;
}


.checkbox-container.row {
    margin-top: 15px;
    margin-bottom: 40px;
    margin-left: 5px;
    border-top: 2px solid #FCF7FF;
    border-bottom: 2px solid #FCF7FF;
    border-left: 2px solid #FCF7FF;
    border-right: 2px solid black;
    width: 100%;
    right: 0 !important;
    left: 0 !important;
    padding-top: 10px;
    padding-left: 10px;
}

.checkbox {
    float: right;
    padding-top: 4px;
    padding-right: 0;
    font-size: small;
}

.checkbox-inline {
  font-size: small;
}
.container{
  width:100% !important;
}
.admin-container {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}

/*
  Search table
*/
.search-panel > button {
  margin-right: 10px;
}

#filter-input-wrapper {
  padding-left: 0px;
  padding-right: 0px;
  margin-top: 5px;
}

#filter-input-wrapper > input {
  padding-left: 0px;
  padding-right: 0px;
}


.search-row {
  margin-right: 0px;
  margin-left: 0px;
  margin-bottom: 20px;
}

.search-row > label {
  margin-top: 5px;
  padding-right: 20px;
}

.search-values > select {
  padding-right: 10px;
  padding-left: 10px;
  text-align: center;
  margin-top: 5px;
}

/*
Hacker table
*/

table .hacker{
 height:700px; 
}

.hacker > thead{ 
	min-width: 100%;	
}
thead {
  color: #F1B026;
  border-bottom: 4px solid #F1B026;
  font-weight: 600;
  text-transform: uppercase;
}
thead tr {
 border: none !important;
}

.hacker > tbody{
  min-width: 100%;	
  overflow-y: scroll;
  height: 600px;
  width: 100%;
  position: absolute;
}



td {
   border: none !important;
   height: 100px;
}

td > p {
	word-break: break-all;
}

td > button {
	font-size: x-small !important;
}

.expand-view > p {
	font-size: 16px !important;	
}

.modified {
  margin-bottom: 5px;
}

.modified > p {
 font-size: x-small !important;
 display: block;
 width: 100;
}

.modified > .content {
  background-color: white;
}



.modified > input {
 font-size: x-small !important;
 min-width: 100%;   
}

.alert-text{
	color: red;
}
.select-hackers{
	float: right;
}

select {
	width: 100%;
}

/*editor error animate*/
/*@import "~toastr/build/toastr.min.css";*/

.react-bs-table-container .react-bs-table-search-form {
  margin-bottom: 0;
}

.react-bs-table {
  border: 5px solid #ddd;
  border-radius: 5px;
}

.react-bs-table table {
  margin-bottom: 0;
  table-layout: fixed;
}

.react-bs-table table td,
.react-bs-table table th {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.react-bs-table {
  margin: 5px 10px 5px 10px;
}

.react-bs-table-pagination {
  margin: 10px;
}

.react-bs-table-tool-bar {
  margin: 10px 10px 0 10px;
}

.react-bs-container-header {
  overflow: hidden;
  width: 100%;
}

.react-bs-container-body {
  /*height: 154px;*/
  overflow: auto;
  width: 100%;
}

.react-bs-table .table-bordered {
    border: 0;
}

.react-bs-table .table-bordered > thead > tr > th,
.react-bs-table .table-bordered > thead > tr > td {
  border-bottom-width: 2px;
}

.react-bs-table .table-bordered > tfoot > tr > th,
.react-bs-table .table-bordered > tfoot > tr > td {
  border-top-width: 2px;
}

.react-bs-table .table-bordered > tfoot > tr > th,
.react-bs-table .table-bordered > tfoot > tr > td {
  border-bottom-width: 0;
}

/*Esquerda*/
.react-bs-table .table-bordered > thead > tr > th:first-child,
.react-bs-table .table-bordered > tbody > tr > th:first-child,
.react-bs-table .table-bordered > tfoot > tr > th:first-child,
.react-bs-table .table-bordered > thead > tr > td:first-child,
.react-bs-table .table-bordered > tbody > tr > td:first-child,
.react-bs-table .table-bordered > tfoot > tr > td:first-child {
  border-left-width: 0;
}

/*Direita*/
.react-bs-table .table-bordered > thead > tr > th:last-child,
.react-bs-table .table-bordered > tbody > tr > th:last-child,
.react-bs-table .table-bordered > tfoot > tr > th:last-child,
.react-bs-table .table-bordered > thead > tr > td:last-child,
.react-bs-table .table-bordered > tbody > tr > td:last-child,
.react-bs-table .table-bordered > tfoot > tr > td:last-child {
  border-right-width: 0;
}

/*Topo*/
.react-bs-table .table-bordered > thead > tr:first-child > th,
.react-bs-table .table-bordered > thead > tr:first-child > td {
  border-top-width: 0;
}

/*Baixo*/
.react-bs-table .table-bordered > tfoot > tr:last-child > th,
.react-bs-table .table-bordered > tfoot > tr:last-child > td {
  border-bottom-width: 0;
}

.react-bs-table .react-bs-container-header > table > thead > tr > th {
  vertical-align: middle;
}

.react-bs-table .react-bs-container-header > table > thead > tr > th .filter{
  font-weight: normal;
}

.react-bs-table .react-bs-container-header > table > thead > tr > th .select-filter option[value=''],
.react-bs-table .react-bs-container-header > table > thead > tr > th .select-filter.placeholder-selected,
.react-bs-table .react-bs-container-header > table > thead > tr > th .filter::-webkit-input-placeholder,
.react-bs-table .react-bs-container-header > table > thead > tr > th .number-filter-input::-webkit-input-placeholder{
  color: lightgrey;
  font-style: italic;
}

.react-bs-table .react-bs-container-header > table > thead > tr > th .select-filter.placeholder-selected option:not([value='']) {
  color: initial;
  font-style: initial;
}

.react-bs-table .react-bs-container-header > table > thead > tr > th .number-filter,
.react-bs-table .react-bs-container-header > table > thead > tr > th .date-filter {
  display: flex;
}

.react-bs-table .react-bs-container-header > table > thead > tr > th .number-filter-input,
.react-bs-table .react-bs-container-header > table > thead > tr > th .date-filter-input {
  margin-left: 5px;
  float: left;
  width: calc(100% - 67px - 5px);
}

.react-bs-table .react-bs-container-header > table > thead > tr > th .number-filter-comparator,
.react-bs-table .react-bs-container-header > table > thead > tr > th .date-filter-comparator {
  width: 67px;
  float: left;
}

.react-bs-table .react-bs-container-header .sort-column {
  cursor: pointer;
}

/*inline editor default style*/
.react-bs-container .form-control.editor{
  /*width:100%;
  top:0;
  left:0;*/
  /*height: 100%;
  position: absolute;*/
}

.react-bs-container  .textarea-save-btn{
  position: absolute;
  z-index: 100;
  right: 0;
  top: -21px;
}

.react-bs-table-no-data {
  text-align: center;
}

/*error tip style*/
.animated {
  animation-fill-mode: both;
}

.animated.bounceIn,
.animated.bounceOut{
  animation-duration: .75s;
}

.animated.shake{
  animation-duration: .3s;
}

@keyframes shake {
  from, to {
    transform: translate3d(0, 0, 0);
  }

  10%,  50%,  90% {
    transform: translate3d(-10px, 0, 0);
  }

  30%, 70%{
    transform: translate3d(10px, 0, 0);
  }
}

.shake {
  animation-name: shake;
}

@keyframes bounceIn {
  from, 20%, 40%, 60%, 80%, to {
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  0% {
    opacity: 0;
    transform: scale3d(.3, .3, .3);
  }

  20% {
    transform: scale3d(1.1, 1.1, 1.1);
  }

  40% {
    transform: scale3d(.9, .9, .9);
  }

  60% {
    opacity: 1;
    transform: scale3d(1.03, 1.03, 1.03);
  }

  80% {
    transform: scale3d(.97, .97, .97);
  }

  to {
    opacity: 1;
    transform: scale3d(1, 1, 1);
  }
}

.bounceIn {
  animation-name: bounceIn;
}

@keyframes bounceOut {
  20% {
    transform: scale3d(.9, .9, .9);
  }

  50%, 55% {
    opacity: 1;
    transform: scale3d(1.1, 1.1, 1.1);
  }

  to {
    opacity: 0;
    transform: scale3d(.3, .3, .3);
  }
}

.bounceOut {
  animation-name: bounceOut;
}
.react-bs-table table td {
  white-space: normal;
  }

.td-column-string-example{
  width:60px !important;
}
.pagination > .active > a {
  background: #000 !important;
}
