.hacker table {
 height:700px; 
}
.hacker > tbody{
  overflow-y: scroll;
  height: 600px;
  min-width: 100%;
  position: absolute;
}

tr { 
	width: 100%;
	display: inline-table;
}


.alert-text{
	color: red;
}

.hacker > thead {
	width: 100%;
	background-color: yellow;
	margin-top: 100px;
}

.header {
	position: fixed;
	word-wrap: break-word;        
    overflow-wrap: break-word; 
}
.select-hackers{
	float:right;
}

.row td {
	width: 7.6923076923%;
	word-wrap: break-word;        
    overflow-wrap: break-word; 
}

div {
	position: relative;
}
#expand {
	position:absolute; 

	float:right; clear:left;
}

