div {
	position: relative;
}

body {
  background: #000 !important;
  color: #000 !important;
}

td {
  border: none !important;
  padding: 10px 10px !important;
  background: #000 !important;
}
p{
  font-size: 14px !important;
}
tr {
  border-bottom: 2px solid #fff;
}
button {
  background: #000 !important;
  color: #fff !important;
  border: 1px solid #fff !important;
  padding: 10px 20px !important;
}
button:hover {
  text-decoration: underline;
  background:#555 !important;
  border: 4px solid #F1B026;

}
.nav-tabs > li.active > a{
    background:#000 !important;

  color: #F1B026 !important;
  border: 4px solid #F1B026  !important;
  font-weight: 600  !important;
  text-transform: uppercase  !important;
}

.nav-tabs > li.active > a:hover{
    background:#666 !important;

  color: #F1B026;
  border: 4px solid #fff;
  font-weight: 600;
  text-transform: uppercase;
}


.nav-tabs > li > a:hover{
    background:#666 !important;

  color: #F1B026;
  border: 4px solid #000;
  font-weight: 600;
  text-transform: uppercase;
}


.nav-tabs > li > a{
    background:#000 !important;

  color: #F1B026;
  border: 4px solid #000;
  font-weight: 600;
  text-transform: uppercase;
}





.search-panel {
  padding-bottom: 50px;
}


.checkbox-container.row {
    margin-top: 15px;
    margin-bottom: 40px;
    margin-left: 5px;
    border-top: 2px solid #FCF7FF;
    border-bottom: 2px solid #FCF7FF;
    border-left: 2px solid #FCF7FF;
    border-right: 2px solid black;
    width: 100%;
    right: 0 !important;
    left: 0 !important;
    padding-top: 10px;
    padding-left: 10px;
}

.checkbox {
    float: right;
    padding-top: 4px;
    padding-right: 0;
    font-size: small;
}

.checkbox-inline {
  font-size: small;
}
.container{
  width:100% !important;
}
.admin-container {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}

/*
  Search table
*/
.search-panel > button {
  margin-right: 10px;
}

#filter-input-wrapper {
  padding-left: 0px;
  padding-right: 0px;
  margin-top: 5px;
}

#filter-input-wrapper > input {
  padding-left: 0px;
  padding-right: 0px;
}


.search-row {
  margin-right: 0px;
  margin-left: 0px;
  margin-bottom: 20px;
}

.search-row > label {
  margin-top: 5px;
  padding-right: 20px;
}

.search-values > select {
  padding-right: 10px;
  padding-left: 10px;
  text-align: center;
  margin-top: 5px;
}

/*
Hacker table
*/

table .hacker{
 height:700px; 
}
tbody{
   border: none !important;
}
table{
   border: none !important;

}
.hacker > thead{ 
	min-width: 100%;	
}
thead {
  color: #F1B026;
  border-bottom: 4px solid #F1B026;
  font-weight: 600;
  text-transform: uppercase;
}
thead tr {
 border: none !important;
}

.hacker > tbody{
  min-width: 100%;	
  overflow-y: scroll;
  height: 600px;
  width: 100%;
  position: absolute;
}

tr {
	width: 100%;
	display: inline-table;
}

td {
   border: none !important;

  padding: 0;
}

td > p {
	word-break: break-all;
}

td > button {
	margin: 0 !important;
	font-size: x-small !important;
  display: block;
  width: 100%;
}

.expand-view > p {
	font-size: small !important;	
}

.modified {
  margin-bottom: 5px;
}

.modified > p {
 font-size: x-small !important;
 display: block;
 width: 100;
}

.modified > .content {
  background-color: white;
}



.modified > input {
 font-size: x-small !important;
 min-width: 100%;   
}

.alert-text{
	color: red;
}
.select-hackers{
	float: right;
}

select {
	width: 100%;
}

.fixedDataTableCellGroupLayout_cellGroup{-webkit-backface-visibility:hidden;backface-visibility:hidden;left:0;overflow:hidden;position:absolute;top:0;white-space:nowrap}.fixedDataTableCellGroupLayout_cellGroup>.public_fixedDataTableCell_main{display:inline-block;vertical-align:top;white-space:normal}.fixedDataTableCellGroupLayout_cellGroupWrapper{position:absolute;top:0}.fixedDataTableCellLayout_main{border-right-style:solid;border-width:0 1px 0 0;box-sizing:border-box;display:block;overflow:hidden;position:absolute;white-space:normal}.fixedDataTableCellLayout_lastChild{border-width:0 1px 1px 0}.fixedDataTableCellLayout_alignRight{text-align:right}.fixedDataTableCellLayout_alignCenter{text-align:center}.fixedDataTableCellLayout_wrap1{display:table}.fixedDataTableCellLayout_wrap2{display:table-row}.fixedDataTableCellLayout_wrap3{display:table-cell;vertical-align:middle}.fixedDataTableCellLayout_columnResizerContainer{position:absolute;right:0;width:6px;z-index:1}.fixedDataTableCellLayout_columnResizerContainer:hover{cursor:ew-resize}.fixedDataTableCellLayout_columnResizerContainer:hover .fixedDataTableCellLayout_columnResizerKnob{visibility:visible}.fixedDataTableCellLayout_columnResizerKnob{position:absolute;right:0;visibility:hidden;width:4px}.fixedDataTableColumnResizerLineLayout_mouseArea{cursor:ew-resize;position:absolute;right:-5px;width:12px}.fixedDataTableColumnResizerLineLayout_main{border-right-style:solid;border-right-width:1px;box-sizing:border-box;position:absolute;z-index:10}body[dir="rtl"] .fixedDataTableColumnResizerLineLayout_main,.fixedDataTableColumnResizerLineLayout_hiddenElem{display:none!important}.fixedDataTableLayout_main{border-style:solid;border-width:1px;box-sizing:border-box;overflow:hidden;position:relative}.fixedDataTableLayout_header,.fixedDataTableLayout_hasBottomBorder{border-bottom-style:solid;border-bottom-width:1px}.fixedDataTableLayout_footer .public_fixedDataTableCell_main{border-top-style:solid;border-top-width:1px}.fixedDataTableLayout_topShadow,.fixedDataTableLayout_bottomShadow{height:4px;left:0;position:absolute;right:0;z-index:1}.fixedDataTableLayout_bottomShadow{margin-top:-4px}.fixedDataTableLayout_rowsContainer{overflow:hidden;position:relative}.fixedDataTableLayout_horizontalScrollbar{bottom:0;position:absolute}.fixedDataTableRowLayout_main{box-sizing:border-box;overflow:hidden;position:absolute;top:0}.fixedDataTableRowLayout_body{left:0;position:absolute;top:0}.fixedDataTableRowLayout_fixedColumnsDivider{-webkit-backface-visibility:hidden;backface-visibility:hidden;border-left-style:solid;border-left-width:1px;left:0;position:absolute;top:0;width:0}.fixedDataTableRowLayout_columnsShadow{width:4px}.fixedDataTableRowLayout_rowWrapper{position:absolute;top:0}.ScrollbarLayout_main{box-sizing:border-box;outline:none;overflow:hidden;position:absolute;-webkit-transition-duration:250ms;transition-duration:250ms;-webkit-transition-timing-function:ease;transition-timing-function:ease;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}.ScrollbarLayout_mainVertical{bottom:0;right:0;top:0;-webkit-transition-property:background-color width;transition-property:background-color width;width:15px}.ScrollbarLayout_mainVertical.public_Scrollbar_mainActive,.ScrollbarLayout_mainVertical:hover{width:17px}.ScrollbarLayout_mainHorizontal{bottom:0;height:15px;left:0;-webkit-transition-property:background-color height;transition-property:background-color height}.ScrollbarLayout_mainHorizontal.public_Scrollbar_mainActive,.ScrollbarLayout_mainHorizontal:hover{height:17px}.ScrollbarLayout_face{left:0;overflow:hidden;position:absolute;z-index:1}.ScrollbarLayout_face:after{border-radius:6px;content:'';display:block;position:absolute;-webkit-transition:background-color 250ms ease;transition:background-color 250ms ease}.ScrollbarLayout_faceHorizontal{bottom:0;left:0;top:0}.ScrollbarLayout_faceHorizontal:after{bottom:4px;left:0;top:4px;width:100%}.ScrollbarLayout_faceVertical{left:0;right:0;top:0}.ScrollbarLayout_faceVertical:after{height:100%;left:4px;right:4px;top:0}.public_fixedDataTable_main,.public_fixedDataTable_header,.public_fixedDataTable_hasBottomBorder{border-color:#d3d3d3}.public_fixedDataTable_header .public_fixedDataTableCell_main{font-weight:700}.public_fixedDataTable_header,.public_fixedDataTable_header .public_fixedDataTableCell_main{background-color:#f6f7f8;background-image:-webkit-linear-gradient(#fff,#efefef);background-image:linear-gradient(#fff,#efefef)}.public_fixedDataTable_footer .public_fixedDataTableCell_main{background-color:#f6f7f8;border-color:#d3d3d3}.public_fixedDataTable_topShadow{background:0 0 url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAECAYAAABP2FU6AAAAF0lEQVR4AWPUkNeSBhHCjJoK2twgFisAFagCCp3pJlAAAAAASUVORK5CYII=) repeat-x}.public_fixedDataTable_bottomShadow{background:0 0 url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAECAYAAABP2FU6AAAAHElEQVQI12MwNjZmZdAT1+Nm0JDWEGZQk1GTBgAWkwIeAEp52AAAAABJRU5ErkJggg==) repeat-x}.public_fixedDataTable_horizontalScrollbar .public_Scrollbar_mainHorizontal{background-color:#fff}.public_fixedDataTableCell_main{background-color:#fff;border-color:#d3d3d3}.public_fixedDataTableCell_highlighted{background-color:#f4f4f4}.public_fixedDataTableCell_cellContent{padding:8px}.public_fixedDataTableCell_columnResizerKnob{background-color:#0284ff}.public_fixedDataTableColumnResizerLine_main{border-color:#0284ff}.public_fixedDataTableRow_main{background-color:#fff}.public_fixedDataTableRow_highlighted,.public_fixedDataTableRow_highlighted .public_fixedDataTableCell_main{background-color:#f6f7f8}.public_fixedDataTableRow_fixedColumnsDivider{border-color:#d3d3d3}.public_fixedDataTableRow_columnsShadow{background:0 0 url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAABCAYAAAD5PA/NAAAAFklEQVQIHWPSkNeSBmJhTQVtbiDNCgASagIIuJX8OgAAAABJRU5ErkJggg==) repeat-y}.public_Scrollbar_main.public_Scrollbar_mainActive,.public_Scrollbar_main:hover{background-color:rgba(255,255,255,.8)}.public_Scrollbar_mainOpaque,.public_Scrollbar_mainOpaque.public_Scrollbar_mainActive,.public_Scrollbar_mainOpaque:hover{background-color:#fff}.public_Scrollbar_face:after{background-color:#c2c2c2}.public_Scrollbar_main:hover .public_Scrollbar_face:after,.public_Scrollbar_mainActive .public_Scrollbar_face:after,.public_Scrollbar_faceActive:after{background-color:#7d7d7d}

